.product-list {
  margin: 0.5% 3% 0% 3%;
}

.select-category {
  width: 25%;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 1%;
}

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin: 0px;
}

.pagination button.active {
  background-color: #45a049;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  margin: 15px;
}

.pagination button:not(:last-child) {
  padding: 8px 12px;
  margin: 15px;
}

.pagination button:not(:first-child) {
  padding: 8px 12px;
  margin: 15px;
}
